body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family:-apple-system , -apple-system , 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgb(0, 128, 68) 100%
  );
  text-align: center;
}
